* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

.textSearch:focus {
  box-shadow: none;
  outline: none;
  border-color: blue;
}
.addCartIcon {
  right: -100px;
  top: -100px;
}
.cart:hover .addCartIcon {
  right: 0px;
  top: 0px;
}
